/*  Basic Browser Default Reset*/
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.hobby-list-item {
    font-family: 'Times New Roman', Times, serif,;
    font-weight: bold;
    color: seagreen;
}
